@import "./../styles/base";

.teams {
    .slab {
        &::after {
            content: '';
            width: 4px;
            margin: 0 auto;
            height: 100%;
            display: block;
            background-color: #000;
            transform: rotate(15deg);
        }
    }
}

.schedule {
    .play-times {
        display: flex;
        justify-content: space-between;
        span {
            text-align: left;
        }
        .time {
            min-width: 60px;
        }
        .home-team, .away-team {
            min-width: 150px;
            @include breakpoint(small) {
                min-width: 115px; 
            }
        }
    }
}