$blue: #3b29af;
$lime: #f3ec60;
$orange: #fc5842;

.lime {
    color:$lime;
}

.lime-background {
    background-color:$lime;
}

.blue {
    color: $blue;
}

.blue-background {
    background-color: $blue;
}

.orange-background {
    background-color: $orange;
}

.orange {
    color: $orange;
}