button {
    text-decoration: none;
    background: none;
    padding: 0;
    border:0;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    @include transition();
    // background-color: rgba(59, 41, 175, 0.3);
    // color: #fff;
    // padding: 1rem;
    // border-radius:.25rem;
    // &.active {
    //     background-color: rgba(59, 41, 175, 1);
    // }
}

.toggle {
    button {
        border-bottom: solid 0px $blue;
        padding-bottom: 4px;
        &.active {
            border-bottom: solid 3px $blue;
        }
    }
}