@import "./../../styles/base";

.lds-dual-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
    &::after {
        content: " ";
        display: block;
        width: 46px;
        height: 46px;
        margin: 1px;
        border-radius: 50%;
        border: 8px solid $blue;
        border-color: $blue transparent $blue transparent;
        animation: lds-dual-ring 1s linear infinite;
    }
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  