.table {
    display: block;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: 6px auto;
    overflow-x: auto;
    white-space: nowrap;
}

.table th, td  {
    min-width: 170px;
}

.table tr, td  {
    display: flex;
    text-align: left;
}