@import "./../../styles/base";

.table {
    display: block;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: 6px auto;
    overflow-x: auto;
    white-space: nowrap;

    th, td {
        min-width: 170px;
    }

    tr {
        display: flex;
        text-align: left;
    }
}