body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lime {
  color:#f3ec60;
}

.lime-background {
  background-color:#f3ec60;
}

.blue {
  color: #3b29af;
}

.blue-background {
  background-color: #3b29af;
}

.orange-background {
  background-color: #fc5842;
}

.orange {
  color: #fc5842;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  color: black;
}

p {
  color: #f3ec60;
}


.button {
    padding: 0;
    border: 0;
    background: none;
}